* {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 70%;
}
.description {
  margin: 20px auto;
  text-align: center;
  font-family: "Roboto";
  color: #082904;
}

#number-of-events {
  margin: 20px auto;
}
#number-of-events label {
  margin-right: 10px;
}
#number-of-events input {
  width: 50px;
}
#event-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}
.event {
  border: 1px solid rgb(200, 200, 200);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 15px rgb(200, 200, 200);
}

.event h3 {
  margin: 0;
  padding: 5px;
}
.location,
.dateTime {
  color: #777;
  font-size: 0.9em;
}
.details-btn {
  min-width: 200px;
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.details-btn:hover {
  background-color: rgb(0, 86, 179);
}
#city-search {
  margin: 20px auto;
  text-align: center;
}

#city-search input {
  padding: 5px;
  width: 70%;
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200);
}
.suggestions {
  list-style: none;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  text-align: left;
  width: 100%;
}
.suggestions li {
  padding: 5px;
  cursor: pointer;
}
.suggestions li:hover {
  background-color: #eee;
}

b {
  color: #007bff;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 400px;
  z-index: 1000;
}

.charts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  gap: 20px;
  border: #dddddd 1px solid;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  zoom: 90%;
}

@media (max-width: 1208px) {
  .charts-container {
    grid-template-columns: 1fr;
  }
}

.event-genres-chart {
  position: relative;
  top: -40px;
}
